// TODO: put variables in diff folders
// COLORS
$blue: #00619e;
$black: #4a4a4a;
$dark-grey: #737277;
$mid-grey: #f0f0f0;
$light-grey: #efefef;
$purple: #711972;
$white: #ffffff;

@font-face {
    font-family: Meta-Roman;
    src: url(/fonts/meta_normal_roman.ttf);
}

//MAIN VIEW STYLING
body {
  margin: 0;
  font-family: 'Roboto', Bold;
  overflow-x: hidden;
  overflow-y: scroll;

  .banner {
    width: 100%;
    height: 110px;
    background-color: $light-grey;
  }

  .navbar {
    background-color: $blue;
    width: 100%;
    height: 60px;
    .navbar-brand {
      flex-grow: 1;
    }
    .navbar-nav {
      width: 100%;
      .nav-item {
        flex-grow: 1;
        a {
          color: $white;
        }
      }
    }
  }

//CHANGING VIEW STYLING
  .container {
    width: 100%;
    
    h1 {
      font-family: "Meta-Roman";
      font-size: 50px;
      line-height: 1.04;
      text-align: left;
      color: $black;
    }
    .media-links {
      background-color: pink;
      height: 52px;
    }
    .grey-box {
      background-color: $mid-grey;
      width: 100%;
      height: 333px;
    }
    .talk {
      background-color: $mid-grey;
      height: 300px;
    }
    .advert {
      background-color: pink;
      height: 355px;
    }
  }

}
