// TODO: put variables in different folders
// COLORS
$blue: #00619e;
$black: #4a4a4a;
$dark-grey: #737277;
$mid-grey: #f0f0f0;
$light-grey: #efefef;
$purple: #711972;
$white: #ffffff;

@font-face {
    font-family: Meta-Roman;
    src: url(/fonts/meta_normal_roman.ttf);
}

//MAIN VIEW STYLING
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Bold;
  overflow-y: scroll;

  .banner {
    width: 100%;
    height: 110px;
    background-color: $light-grey;
  }

  .navbar {
    background-color: $blue;
    width: 100%;
    height: 60px;
    .navbar-brand {
      flex-grow: 1;
      margin-right: 2em;
    }
    .navbar-nav {
      width: 100%;
      .nav-item {
        flex-grow: 1;
        a {
          color: $white;
        }
      }
    }
  }

//CHANGING VIEW STYLING
  .container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2em 1.5em;
    .section {
      margin-top: 35px;
    }
    .row {
      width: 100%;
      .left{
        // width: 630px;
        .home {
          font-size: 14px;
          color: $blue;
        }
        h1 {
          font-family: "Meta-Roman";
          font-size: 50px;
          line-height: 1.04;
          text-align: left;
          color: $black;
          margin-top: 10px;
        }
        .media-links {
          height: 52px;
        }
        .grey-box {
          background-color: $mid-grey;
          padding: 21px;
          height: 333px;
          margin-left: 0px;
          ul {
            padding-left: 21px;
            li {
              font-size: 15px;
              line-height: 1.33;
              text-align: left;
              color: $blue;
            }
          }
          .info {
            display: flex;
            flex-direction: row;
            .copy {
              flex-grow: 2;
              font-family: "Roboto";
              font-size: 15px;
              line-height: 1.6;
              text-align: left;
              color: $black;
              margin-right: 21px;
              span {
                color: $blue;
              }
            }
            .image {
            }
          }
        }
      }
    }

    .talk {
      background-color: $mid-grey;
      height: 300px;
      .top {
        height: 40px;
        width: 100%;
        background-color: $blue;
      }
      .bottom {
        height: 50px;
        width: 100%;
        background-color: $blue;
      }
    }
    .advert {
      background-color: pink;
      height: 355px;
    }
  }

}
