// COLORS
$black: #4a4a4a;
$dark-grey: #737277;
$mid-grey: #f0f0f0;
$light-grey: #efefef;
$white: #ffffff;
$blue: #00619e;
$blue-hover: #00548C;
$blue-active: #004A7A;
$purple: #711972;
$purple-hover: #571157;
$purple-acive: #460f47;
//FONT SIZES
$h1-desktop: 50px;
$h1-mobile: 36px;
//COMMON ELEMENT SIZES
