.talk {
  height: 300px;
  width: 300px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column; }
  .talk .items {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column; }
    .talk .items .item {
      background-image: url("/../images/textbubble.jpg");
      background-repeat: no-repeat;
      background-position-x: 8px;
      background-position-y: 7px;
      flex-grow: 1;
      padding: 10px;
      display: flex;
      flex-direction: row; }
      .talk .items .item .count {
        width: 30px;
        font-size: 11px;
        font-family: Roboto;
        font-weight: bold;
        padding: 4px 0 0;
        text-align: center;
        margin-right: 5px; }
      .talk .items .item .title {
        font-size: 15px;
        font-family: Roboto; }
  .talk .navbar {
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .talk .navbar .navbar-brand {
      color: #ffffff;
      font-family: Roboto;
      font-size: 18px;
      font-weight: bold;
      text-align: left; }
  .talk .bottom {
    flex-grow: 1;
    background-color: #00619e; }

@font-face {
  font-family: Meta-Roman;
  src: url("/fonts/meta_normal_roman.ttf"); }

body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  overflow-y: scroll; }
  body ul {
    padding: 0px;
    display: flex;
    flex-direction: column; }
    body ul li {
      font-size: 15px;
      font-weight: lighter;
      list-style-type: none;
      line-height: 1.33;
      text-align: left;
      color: #711972; }
      body ul li span {
        font-family: Roboto;
        font-size: 15px;
        list-style-type: none;
        line-height: 1.33;
        text-align: left;
        color: #00619e;
        padding-left: 10px; }
  body .main-container .banner {
    width: 100%;
    height: 110px;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    body .main-container .banner img {
      width: 728px;
      margin: auto; }
  body .main-container .navbar {
    background-color: #00619e;
    width: 100%;
    height: 60px; }
    body .main-container .navbar .navbar-brand {
      flex-grow: 1;
      margin-right: 1.5em; }
    body .main-container .navbar .navbar-nav {
      width: 100%; }
      body .main-container .navbar .navbar-nav .nav-item {
        flex-grow: 1; }
        body .main-container .navbar .navbar-nav .nav-item a {
          color: #ffffff; }
  body .main-container .container {
    margin-top: 41px; }
    body .main-container .container .section {
      margin-top: 30px; }
    body .main-container .container .home {
      font-size: 14px;
      color: #00619e; }
    body .main-container .container h1 {
      font-family: "Meta-Roman";
      font-size: 50px;
      line-height: 1.04;
      text-align: left;
      color: #4a4a4a;
      margin-top: 10px; }
    body .main-container .container .media-links {
      height: 52px; }
    body .main-container .container .grey-box {
      background-color: #f0f0f0;
      padding: 21px; }
      body .main-container .container .grey-box .info {
        display: flex;
        flex-direction: column; }
        body .main-container .container .grey-box .info .copy {
          flex-grow: 2;
          font-family: "Roboto";
          font-size: 15px;
          line-height: 1.6;
          text-align: left;
          color: #4a4a4a;
          margin-right: 21px; }
          body .main-container .container .grey-box .info .copy span {
            color: #00619e; }
    body .main-container .container .talk {
      height: 300px;
      width: 300px;
      background-color: #f0f0f0;
      display: flex;
      flex-direction: column; }
      body .main-container .container .talk .items {
        background-color: #f0f0f0;
        display: flex;
        flex-direction: column; }
        body .main-container .container .talk .items .item {
          background-image: url("/../images/textbubble.jpg");
          background-repeat: no-repeat;
          background-position-x: 8px;
          background-position-y: 7px;
          flex-grow: 1;
          padding: 10px;
          display: flex;
          flex-direction: row; }
          body .main-container .container .talk .items .item .count {
            width: 30px;
            font-size: 11px;
            font-family: Roboto;
            font-weight: bold;
            padding: 4px 0 0;
            text-align: center;
            margin-right: 5px; }
          body .main-container .container .talk .items .item .title {
            font-size: 15px;
            font-family: Roboto; }
      body .main-container .container .talk .navbar {
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        body .main-container .container .talk .navbar .navbar-brand {
          color: #ffffff;
          font-family: Roboto;
          font-size: 18px;
          font-weight: bold;
          text-align: left; }
      body .main-container .container .talk .bottom {
        flex-grow: 1;
        background-color: #00619e; }
    body .main-container .container .blogotd {
      height: 320px;
      width: 300px;
      background-color: #f0f0f0;
      display: flex;
      flex-direction: column; }
      body .main-container .container .blogotd .navbar {
        background-color: #711972;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        body .main-container .container .blogotd .navbar .navbar-brand {
          color: #ffffff;
          font-family: Roboto;
          font-size: 18px;
          font-weight: bold;
          text-align: left; }
      body .main-container .container .blogotd .info {
        padding: 10px; }
        body .main-container .container .blogotd .info h3 {
          font-family: Roboto;
          font-size: 18px;
          font-weight: bold;
          text-align: left;
          color: #4a4a4a;
          margin: 10px 0px 10px 0px; }
    body .main-container .container .insight {
      height: 300px;
      width: 300px;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      margin-top: 35px; }
      body .main-container .container .insight .items {
        flex-grow: 1;
        background-color: #ffffff;
        display: flex;
        flex-direction: column; }
        body .main-container .container .insight .items .item {
          flex-grow: 1;
          font-size: 15px;
          padding: 10px;
          border-bottom: solid 1px #efefef; }
      body .main-container .container .insight .navbar {
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #737277; }
        body .main-container .container .insight .navbar .navbar-brand {
          color: #ffffff;
          font-family: Roboto;
          font-size: 18px;
          font-weight: bold;
          text-align: left; }
    body .main-container .container .card {
      border: none;
      border-bottom: solid 1px #efefef; }
      body .main-container .container .card h3 {
        padding: 1.5em 0; }
      body .main-container .container .card .info {
        display: flex;
        flex-direction: row; }
      body .main-container .container .card img {
        height: fit-content; }
      body .main-container .container .card h3 {
        font-family: Roboto;
        font-weight: bold;
        font-size: 24px;
        color: #00619e; }
      body .main-container .container .card p {
        font-family: "Roboto";
        font-size: 15px;
        color: #4a4a4a; }
  body .main-container .footer {
    margin-top: 60px;
    height: 492px;
    width: 100%;
    background-color: #00619e; }
