@font-face {
  font-family: Meta-Roman;
  src: url("/fonts/meta_normal_roman.ttf"); }

body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  overflow-y: scroll; }
  body .main-container .banner {
    width: 100%;
    height: 110px;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    body .main-container .banner img {
      width: 728px;
      margin: auto; }
  body .main-container .navbar {
    background-color: #00619e;
    width: 100%;
    height: 60px; }
    body .main-container .navbar .navbar-brand {
      flex-grow: 1;
      margin-right: 1.5em; }
    body .main-container .navbar .navbar-nav {
      width: 100%; }
      body .main-container .navbar .navbar-nav .nav-item {
        flex-grow: 1; }
        body .main-container .navbar .navbar-nav .nav-item a {
          color: #ffffff; }
  body .main-container .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2em; }
    body .main-container .container .one .talk {
      height: 300px;
      display: flex;
      flex-direction: column;
      background-color: #f0f0f0;
      display: flex;
      flex-direction: column; }
      body .main-container .container .one .talk .items {
        background-color: #f0f0f0;
        display: flex;
        flex-direction: column; }
        body .main-container .container .one .talk .items .item {
          background-image: url(/../images/textbubble.jpg);
          background-repeat: no-repeat;
          background-position-x: 8px;
          background-position-y: 7px;
          flex-grow: 1;
          padding: 10px;
          display: flex;
          flex-direction: row; }
          body .main-container .container .one .talk .items .item .count {
            width: 30px;
            font-size: 11px;
            font-family: Roboto;
            font-weight: bold;
            padding: 4px 0px 0px 0px;
            text-align: center;
            margin-right: 5px; }
          body .main-container .container .one .talk .items .item .title {
            font-size: 15px;
            font-family: Roboto; }
      body .main-container .container .one .talk .navbar {
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        body .main-container .container .one .talk .navbar .navbar-brand {
          color: #ffffff;
          font-family: Roboto;
          font-size: 18px;
          font-weight: bold;
          text-align: left; }
      body .main-container .container .one .talk .bottom {
        flex-grow: 1;
        background-color: #00619e; }
    body .main-container .container .one .section {
      margin-top: 35px; }
    body .main-container .container .one .left .home {
      font-size: 14px;
      color: #00619e; }
    body .main-container .container .one .left h1 {
      font-family: "Meta-Roman";
      font-size: 50px;
      line-height: 1.04;
      text-align: left;
      color: #4a4a4a;
      margin-top: 10px; }
    body .main-container .container .one .left .media-links {
      height: 52px; }
    body .main-container .container .one .left .grey-box {
      background-color: #f0f0f0;
      padding: 21px; }
      body .main-container .container .one .left .grey-box ul {
        padding-left: 21px; }
        body .main-container .container .one .left .grey-box ul li {
          font-size: 15px;
          line-height: 1.33;
          text-align: left;
          color: #00619e; }
      body .main-container .container .one .left .grey-box .info {
        display: flex;
        flex-direction: row; }
        body .main-container .container .one .left .grey-box .info .copy {
          flex-grow: 2;
          font-family: "Roboto";
          font-size: 15px;
          line-height: 1.6;
          text-align: left;
          color: #4a4a4a;
          margin-right: 21px; }
          body .main-container .container .one .left .grey-box .info .copy span {
            color: #00619e; }
    body .main-container .container .two {
      display: flex;
      flex-direction: row; }
      body .main-container .container .two .insight {
        height: 300px;
        display: flex;
        flex-direction: column;
        background-color: #ffffff; }
        body .main-container .container .two .insight .items {
          flex-grow: 1;
          background-color: #ffffff;
          display: flex;
          flex-direction: column; }
          body .main-container .container .two .insight .items .item {
            flex-grow: 1;
            font-size: 15px;
            padding: 10px;
            border-bottom: solid 1px #efefef; }
        body .main-container .container .two .insight .navbar {
          height: 40px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          background-color: #711972; }
          body .main-container .container .two .insight .navbar .navbar-brand {
            color: #ffffff;
            font-family: Roboto;
            font-size: 18px;
            font-weight: bold;
            text-align: left; }
      body .main-container .container .two .articles {
        display: inline-block; }
        body .main-container .container .two .articles .article {
          border-bottom: solid 1px #efefef; }
        body .main-container .container .two .articles .card {
          width: 50%;
          border: 0; }
          body .main-container .container .two .articles .card h3 {
            padding: 1.5em 0px; }
          body .main-container .container .two .articles .card .info {
            display: flex;
            flex-direction: row; }
            body .main-container .container .two .articles .card .info p {
              flex-grow: 1; }
            body .main-container .container .two .articles .card .info img {
              width: 125px;
              flex-grow: 1; }
          body .main-container .container .two .articles .card h3 {
            font-family: Roboto;
            font-weight: bold;
            font-size: 24px;
            color: #00619e; }
          body .main-container .container .two .articles .card p {
            font-family: "Roboto";
            font-size: 15px;
            color: #4a4a4a; }
          body .main-container .container .two .articles .card ul {
            padding-left: 21px; }
            body .main-container .container .two .articles .card ul li {
              font-size: 15px;
              font-family: Roboto;
              text-align: left;
              color: #00619e; }

@media only screen and (max-width: 990px) {
  body .main-container .container .one .right {
    width: 630px;
    display: flex;
    flex-direction: row; }
    body .main-container .container .one .right .talk {
      margin-right: 23px; }
      body .main-container .container .one .right .talk .items {
        width: 300px; }
    body .main-container .container .one .right .advert {
      width: 307px; } }
